<form (ngSubmit)="onSubmit()">

  <label>Enter the expression</label>
  <input class="firstNumber" id="firstNumber" [formControl]="expressionForm"/>


  <div *ngIf="(expressionForm.invalid && (expressionForm.dirty || expressionForm.touched)) || error != null" class="alert alert-danger">
    {{getErrorMessage()}}
    {{error}}
  </div>

  <button type="submit" [disabled]="expressionForm.invalid">Calculate</button>
  <div class="expression-container">

    <div *ngIf="result!=null" class="alert alert-success">
      The following steps were performed:

      <ol>
        <li *ngFor="let expression of result.intermediaryOperations">{{expression}}</li>
      </ol>

    </div>

    <div *ngIf="result!=null" class="alert alert-success">And the result is: {{result.finalResult}}</div>
  </div>


</form>
