<form [formGroup]="numberForm" (ngSubmit)="onSubmit()">

  <label>Enter the first number</label>
  <input class="firstNumber" id="firstNumber" formControlName="firstNumber"/>

  <label>Enter the second number</label>
  <input class="secondNumber" id="secondNumber" formControlName="secondNumber"/>

  <div *ngIf="numberForm.invalid && (numberForm.dirty || numberForm.touched)" class="alert alert-danger">
    {{getErrorMessage()}}
  </div>

  <button type="submit" >{{operation}}</button>
  <div *ngIf="result!=null" class="alert alert-success">
    {{result}}
  </div>

</form>


